html, body {
  margin: auto;
  padding: auto;
}
canvas {
  display: block;
}


/* div {
  margin: 0 auto;
  display: flex;

  justify-content: center;
  align-items: center;
} */

.center {
  margin-left: auto;
  margin-right: auto;
}

.center h1 {
  margin-left: 5em;
}

.center a {
  color: #92c;
}


h1 {
  margin-bottom: 1em;
}

div {
  margin: 5%;
}

input[type="number"] {

   -webkit-appearance: none;
  margin: 0;
  width:40px;
  border: 0;
  text-align: center;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

td {
  margin: 15%;
  white-space: nowrap;
  text-align: center;
}

tr {
  margin: 10%;
  white-space: nowrap;

}

th {
  white-space: nowrap;

}

table {
  margin: 5%;
  align-items: center;
}

tr>td {
  padding-right: 2em;
  padding-left: 1em;
  /* margin: 15%; */
}

#sketchHolder {
  /* width: 600px;
  height: 400px; */
  /* margin: 10%; */
  /* margin: 100px; */
  /* position: center; */
  /* width: 50%; */

  /* display: flex;
  justify-content: center;
  align-items: center; */

}

p {
  text-indent: 2em;
}


* {box-sizing: border-box}
/* body {font-family: Verdana, sans-serif; margin:0} */
.mySlides {
  display: none;
  animation-name: example;
  animation-duration: 1s;
}



@keyframes example {
  from {opacity: 0.4;}
  to {opacity: 1;}
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  /* position: absolute; */
  position: fixed;
    display: block;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}



/* Fading animation */



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
